---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/Linkedin.astro';
import GithubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import Experience from '../components/Experience.astro';

const linkedIn = "https://www.linkedin.com/in/federico-segundo-molina-roldan-256191159/";

---

<Layout 
	title="Porfolio de Ainus64 - Desarrollador y Programador Web en Linux"
	description="Contrata a Ainus64 como programador web, Fullstack Web Developer o aministrador de sistemas Linux."
	>
	<main>
		<SectionContainer class="py-44 pb-12">
			<h1 
				class="text-4xl font-bold flex flex-row gap-x-4 pb-10 items-center"
				><img 
				class="rounded-full w-24 mb-4"
				src="/img/photo.jpg" 
				alt="Fotografía del programador"
				>Ey, soy <span 
						class="bg-gradient-to-r from-white via-cyan-300 to-purple-500 inline-block text-transparent bg-clip-text "
						>Ainus64 
					</span>
					<a 
						href={linkedIn} 
						target="_blank"
						rel="noopener"
						class="flex justify-center items-center"
						>
						<Badge>Disponible para trabajar</Badge>
					<a/>
			</h1>
			
			<h2 
				class="text-2xl text-wrap"
				><span 
					>+15 años de experiencia con GNU/Linux.
				</span> 
				<span 
					class="text-bold bg-gradient-to-r from-cyan-400 via-indigo-200 to-purple-400 inline-block text-transparent bg-clip-text"
					>Iniciando como Web Developer.
				</span>
				<span 
					> De Jerez de la Frontera, Cádiz, España.
				</span>
			</h2>
			
			<nav 
				class="flex gap-x-2 py-3">
				<SocialPill href={linkedIn}>
					<LinkedInIcon class="size-6 fill-white"/>
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/ainus64">
					<GithubIcon class="size-6 fill-white"/>
						Github
				</SocialPill>
				<SocialPill href="https://github.com/ainus64">
					<MailIcon class="size-6 fill-white"/>
						miEmail@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer class="hidden">
			<h2 class="text-2xl font-bold text-white py-2 flex gap-x-2">
				<BriefcaseIcon class="size-6"/>
				Experiencia Laboral</h2>
			<Experience class="flex justify-center items-center"/>
		</SectionContainer>
	</main>
</Layout>

