---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/Linkedin.astro';
import GithubIcon from '../components/icons/Github.astro';
const linkedIn = "";
const userName = "Fede";
const yearInit = 2006;
const actualYear = 2024;

const yearExp = actualYear - yearInit;

---

<Layout title="Bienvenido a mi Porfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44 text-white">
			<!--[clip-path:polygon(0%_0%,_100%_0%,_99%_80%,_76%_80%,_75%_100%,_50%_80%,_0_80%)] -->
			
			<h1 class="text-4xl font-bold flex flex-row gap-x-4 pb-10"
				>
				<img 
			class="rounded-full w-24 mb-4"
			src="/img/photo.jpg" 
			alt=""
			>Ey,
				<span 
					class="bg-gradient-to-r from-cyan-400 via-indigo-200 to-purple-400 inline-block text-transparent bg-clip-text "
					>soy {userName} 
				</span>
				<a 
					href={linkedIn} 
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
					>
					<Badge>Disponible para trabajar</Badge>
				<a/>
			</h1>
			
			<h2 class="text-2xl text-wrap">
				<span class="">+15 años de experiencia con GNU/Linux.</span> <span class="text-bold bg-gradient-to-r from-cyan-400 via-indigo-200 to-purple-400 inline-block text-transparent bg-clip-text">Iniciando como Web Developer.</span><span class=""> De Jerez de la Frontera, Cádiz, España.</span>
			</h2>
			
			<nav class="flex gap-x-2 py-3">
				<SocialPill href="https://www.linkedin.com/in/federico-segundo-molina-roldan-256191159/">
					<LinkedInIcon class="w-6 h-6 fill-white"/>
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/ainus64">
					<GithubIcon class="w-6 h-6 fill-white"/>
						Github
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>

