<header class="text-white uppercase text-bold flex justify-center py-3 items-center w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Inicio</a>
        <a href="/about">Sobre Mi</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>
